<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Login</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
	<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
	<script src="https://kit.fontawesome.com/dacf88b734.js" crossorigin="anonymous"></script>
	<style>
		body{
			background: linear-gradient(-135deg, #c850c0, #4158d0);
			width: 100%;
			height: 736px;
		}
		.card{
			position: absolute;
		    top: 98px;
		    width: 100%;
		}
		#username,#password{
			border: 0px;
    		border-bottom: 1px solid black;
		}
		input:focus{
			border: 0px;
    		border-bottom: 1px solid #000;
		}
		form{
			position: relative;
		}
		form div div input{
			width: 100%;
			height: 100%;
		}
		form div label{
			position: absolute;
		}
		label:after{
			content:"";
			position: absolute;
			width: 100%;
			height: 100%;
			border-bottom: blue
		}
	</style>
</head>
<body>

	<div class="row">
		<div class="col-md-3 col-sm-3 col-1"></div>
		<div class="col-md-6 col-sm-6 col-10">
			<div class="card">
			  <div class="card-body">
			  	<div class="row">
			  		<div class="col-md-2 col-sm-4 col-1"></div>
					<div class="col-md-8 col-sm-4 col-10">
						<h4 class="display-4">Member Login</h4>
					</div>
					<div class="col-md-2 col-sm-4 col-1"></div>
			  	</div><% if(data){ %>
			  	<div class="row">
			  		<div class="col-md-2 col-sm-4 col-1"></div>
					<div class="col-md-8 col-sm-4 col-10">
						<div class="errorList alert alert-warning">
							<ul id="ols">
									<li class="text-danger"><%= JSON.stringify(data).substring(4,JSON.stringify(data).length-4) %></li>
							</ul>
						</div>
					</div>
					<div class="col-md-2 col-sm-4 col-1"></div>
			  	</div><% } %>
			  	<div class="row">
			  		<div class="col-md-4 col-sm-2 col-1"></div>
					<div class="col-md-4 col-sm-8 col-10">
						<div id="login">
							<form action="login-done"method="POST">
									<div class="input">
										<div class="email">
								    		<label for="username">Username</label><br>
								    		<div class="d-flex flex-row bd-highlight mb-3">
								    			<i class="fas fa-user" style="margin-top: 6px;    margin-right: 15px;"></i>
								    			<input class="ip" id="username" tabindex="1" type="text" name="username"
								    			placeholder="Type Your Username">
								    		</div>
								    	</div>
								    	<div class="password">
								    		<label for="password">Password</label><br>
								    		<div class="d-flex flex-row bd-highlight mb-3">
								    			<i class="fas fa-lock" style="margin-top: 6px;    margin-right: 15px;"></i>
								    			<input class="ip" id="password" tabindex="1" type="password" name="password"
								    			placeholder="Type Your password">
								    		</div>
								    		<input type="submit" class="btn btn-success" 
										value="login" style="width: 100%;"><br><br>
								    	</div><span class="text-danger" style="font-size: 20px;">Dont Have an account ?</span>
								    	<a href="/register"><input type="button" class="btn btn-warning" value="Register" style="    width: 100%;margin-top: 15px;"></a><br>
									</div>
							</form>
					    </div>
					</div>
					<div class="col-md-4 col-sm-2 col-1"></div>
			  	</div>
			  </div>
			</div>
		</div>
		<div class="col-md-3 col-sm-6 col-1"></div>
	</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

</body>
</html>